<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button class="example-icon">
      <mat-icon>airplay</mat-icon>
    </button>
    <span>Angular Material</span>
    <span class="space-1rem"></span>
    <div>
        <button mat-button routerLink='/forms'><mat-icon>description</mat-icon>Form Essentials</button>
        <button mat-button routerLink='/tables'><mat-icon>table_chart</mat-icon>Tables</button>
        <button mat-button routerLink='/alerts'><mat-icon>new_releases</mat-icon>Alerts</button>
        <button mat-button><mat-icon>web</mat-icon>Additional Contents</button>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>