<div class="grid-2 margin-all">
    <app-buttons></app-buttons>
    <app-checkboxes></app-checkboxes>
</div>
<div class="grid-2 margin-all">
    <app-datepickers></app-datepickers>
    <app-sliders></app-sliders>
</div>
<div class="grid-2 margin-all">
    <app-chips></app-chips>
    <app-dropdowns></app-dropdowns>
</div>
<div class="grid-2 margin-all">
    <app-button-toggles></app-button-toggles>
    <app-tooltips></app-tooltips>
</div>
<div class="grid-2 margin-all">
    <app-text-inputs></app-text-inputs>
    <app-stepper-vertical></app-stepper-vertical>
</div>
<div class="grid-1 margin-all">
    <app-stepper-horizontal></app-stepper-horizontal>
</div>