<mat-card class="margin-all card">
    <mat-card-title class="centre">Buttons</mat-card-title>
    <mat-divider></mat-divider><br>
    <div class="text-left margin"><span class="space-1rem"></span>Basic Buttons</div>
    <div class="margin-all div-border">
        <button mat-button>Basic</button><span class="space-2rem"></span>
        <button mat-button color="primary">Primary</button><span class="space-2rem"></span>
        <button mat-button color="accent">Accent</button><span class="space-2rem"></span>
        <button mat-button color="warn">Warn</button><span class="space-2rem"></span>
        <button mat-button disabled>Disabled</button><span class="space-2rem"></span>
    </div><br>
    <div class="text-left"><span class="space-1rem"></span>Raised Buttons</div>
    <div class="margin-all div-border">
        <button mat-raised-button>Basic</button><span class="space-2rem"></span>
        <button mat-raised-button color="primary">Primary</button><span class="space-2rem"></span>
        <button mat-raised-button color="accent">Accent</button><span class="space-2rem"></span>
        <button mat-raised-button color="warn">Warn</button><span class="space-2rem"></span>
        <button mat-raised-button disabled>Disabled</button><span class="space-2rem"></span>
    </div><br>
    <div class="text-left"><span class="space-1rem"></span>Stroked Buttons</div>
    <div class="margin-all div-border">
        <button mat-stroked-button>Basic</button><span class="space-2rem"></span>
        <button mat-stroked-button color="primary">Primary</button><span class="space-2rem"></span>
        <button mat-stroked-button color="accent">Accent</button><span class="space-2rem"></span>
        <button mat-stroked-button color="warn">Warn</button><span class="space-2rem"></span>
        <button mat-stroked-button disabled>Disabled</button><span class="space-2rem"></span>
    </div><br>
    <div class="text-left"><span class="space-1rem"></span>Flat Buttons</div>
    <div class="margin-all div-border">
        <button mat-flat-button>Basic</button><span class="space-2rem"></span>
        <button mat-flat-button color="primary">Primary</button><span class="space-2rem"></span>
        <button mat-flat-button color="accent">Accent</button><span class="space-2rem"></span>
        <button mat-flat-button color="warn">Warn</button><span class="space-2rem"></span>
        <button mat-flat-button disabled>Disabled</button><span class="space-2rem"></span>
    </div><br>
    <div class="text-left"><span class="space-1rem">
    </span>Buttons with Icons (Icons takes the color of text)</div>
    <div class="margin-all div-border">
        <button mat-stroked-button><mat-icon>home</mat-icon>Basic</button><span class="space-2rem"></span>
        <button mat-stroked-button color="primary"><mat-icon>favorite</mat-icon>Primary</button><span class="space-2rem"></span>
        <button mat-stroked-button color="accent"><mat-icon>menu</mat-icon>Accent</button><span class="space-2rem"></span>
        <button mat-stroked-button color="warn"><mat-icon>autorenew</mat-icon>Warn</button><span class="space-2rem"></span>
    </div><br>
    <div class="text-left"><span class="space-1rem"></span>FAB Buttons</div>
    <div class="margin-all div-border">
        <button mat-fab color="white"><mat-icon>star_rate</mat-icon>
        </button><span class="space-2rem"></span>
        <button mat-fab color="primary"><mat-icon>delete</mat-icon>
        </button><span class="space-2rem"></span>
        <button mat-fab color="accent"><mat-icon>bookmark</mat-icon>
        </button><span class="space-2rem"></span>
        <button mat-fab color="warn"><mat-icon>home</mat-icon>
        </button><span class="space-2rem"></span>
        <button mat-fab color="white"><mat-icon>fingerprint</mat-icon>
        </button><span class="space-2rem"></span>
        <button mat-fab disabled><mat-icon>favorite</mat-icon>
        </button>
    </div><br>
    <div class="text-left"><span class="space-1rem"></span>Mini FAB Buttons ( Same as FAB, but smaller in size )</div>
    <div class="margin-all div-border">
        <button mat-mini-fab color="white"><mat-icon>star_rate</mat-icon>
        </button><span class="space-3rem"></span>
        <button mat-mini-fab color="primary"><mat-icon>delete</mat-icon>
        </button><span class="space-3rem"></span>
        <button mat-mini-fab color="accent"><mat-icon>bookmark</mat-icon>
        </button><span class="space-3rem"></span>
        <button mat-mini-fab color="warn"><mat-icon>home</mat-icon>
        </button><span class="space-3rem"></span>
        <button mat-mini-fab color="white"><mat-icon>fingerprint</mat-icon>
        </button><span class="space-3rem"></span>
        <button mat-mini-fab disabled><mat-icon>favorite</mat-icon>
        </button>
    </div>
</mat-card>