<div class="margin-all inline">
    <mat-card class="card">Simple card 1</mat-card>
</div>
<div class="margin-all">
    <mat-card class="card">Simple card 2</mat-card>
</div>
<div class="margin-all inline">
    <mat-card class="card">
        <mat-card-title class="centre">
            Simple card Title
        </mat-card-title>
        <mat-card-content class="margin-all">
            This is the content inside the card. I'm making the line bigger. More bigger.
        </mat-card-content>
        <div class="centre">
            <button mat-raised-button color="primary">Click Me!</button>
            <span class="space-2rem"></span>
            <button mat-raised-button color="accent">Click Me!</button>
        </div>
    </mat-card>
</div>
<div></div>
<div class="centre width-30 margin-all inline">
    <mat-card class="card">Simple card 1</mat-card>
</div>
<div class="centre width-30 margin-all inline">
    <mat-card class="card">Simple card 2</mat-card>
</div>
<div class="grid-2 margin-all">
    <div class="centre margin-all">
        <mat-card class="card">Simple card 1</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 2</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 1</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 2</mat-card>
    </div>
</div>
<div class="grid-3 margin-all">
    <div class="grid-2">
        <div class="centre margin-all">
            <mat-card class="card">Simple card 1</mat-card>
        </div>
        <div class="centre margin-all">
            <mat-card class="card">Simple card 2</mat-card>
        </div>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 2</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 1</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 2</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 1</mat-card>
    </div>
    <div class="centre margin-all">
        <mat-card class="card">Simple card 2</mat-card>
    </div>
</div>