/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: auto;
  }

.navbar {
    justify-content: space-between;
}

.space-1rem {
    padding-right: 1rem;
}
.space-2rem {
    padding-right: 2rem;
}
.space-3rem {
    padding-right: 3rem;
}
.space-4rem {
    padding-right: 4rem;
}
.space-5rem {
    padding-right: 5rem;
}

.float-left { 
    float: left;  
}

.float-right { 
    float: right; 
}

.margin-top {
    margin-top: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-left-right {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-all {
    margin: 10px 10px 10px 10px;
}

.margin-all-xl {
    margin: 20px 20px 20px 20px;
}

.margin-all-xxl {
    margin: 50px 50px 50px 50px;
}

.centre {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.heading {
    font-weight: bold;
}

.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.width-30 {
    width: 30%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 80%;
}
.width-90 {
    width: 90%;
}
.width-100 {
    width: 100%;
}

.card {
    background-color: rgb(248, 248, 248);
}

.inline {
    display: inline-block;
}

.clearfix {
    overflow: auto;
}

.newspaper {
    column-count: 3;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.div-border {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    border-color:rgb(110, 110, 110);
    border-radius: 5px;
}

.div-padding {
    padding: 10px 10px 10px 10px;
}